.navbar {
    text-decoration: none;
    text-align:right;
}
.navbar .menu ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000000;
}
.navbar .menu a{
    text-decoration: none;
    color: white;   
}
a:link {
    padding: 20px;
    color: #8cdd8c;  
}
li {
    display: inline;   
}
.one {
    background-color: white;
    color:black;
    width: 800px;
    margin: 20px auto;
    padding: 15px;
}
body{
    font-family:'Poppins', sans-serif;
}
h2 {
    text-align: center;
}
span {
    color:maroon;
}
.six {
    background-color: rgb(218, 218, 218);
    text-align: center;
}
.submit [type=email]{
    width: 20%;
    padding: 12px;
    margin: 5px;
    display: inline-block;
    border: 1px solid wheat;
    box-sizing: border-box;
}
[type=submit]{
    width: 10%;
    padding: 12px;
    margin: 5px;
    display: inline-block;
    box-sizing: border-box;
    background-color: rgb(29, 2, 2);
    color: white;
}
footer {
    background-color:rgb(27, 19, 19);
    color: white;
    padding: 20px 40px 300px 40px;
}
.logo {
    float: left;
    margin-top: -5px;
}
.unai {
    float: right;
    padding-right: 5px;
    padding-left: 300px;
}
.ci a {
    float: right;
    color: rgb(173, 169, 169);
}

