.hero {
    width: 1360px;
    height: 300px;
    background-image: url(background\ utama.jpg);
    background-size: cover;
    margin-top: -100px;
    background-position: 0 -90px;
    text-align: left;
    font-family: 'Poppins', sans-serif;
}
.khusus a:hover {
    background-color: white;
}
body {
    font-family: 'Poppins', sans-serif;
    text-align: center;
}
.pertama .one {
    text-decoration: solid;
    text-align: center;
}
.next a{
    margin: 20px;
    background-blend-mode: darken;
}
.p {
    background-color: black;
    color: white;
    font-size: 23px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 350px;
    border: 5px solid;
    padding: 70px;
    margin-right: 4em;
    margin-top: -50px;
  }
.set p.set{
    padding: 15px;
    text-align: center;
    box-sizing: border-box;
}
p.more {
    border: 1px solid black;
    padding: 5px;
    margin: 5px;
}
.kelas {
    margin: 5px;
    padding: 5px;
    float: left;
}
.kelas a p {
    margin: 10px;
    padding: 10px;
}

.terakhir a{
    display:inline;
    margin: 8px;
    padding: 10px;
    width: 300px;
}
h1 {
    text-align: center;
    padding: 10px;
    margin: 10px;
}
.submit [type=email]{
    width: 20%;
    padding: 12px;
    margin: 5px;
    display: inline-block;
    border: 1px solid wheat;
    box-sizing: border-box;
}
[type=submit]{
    width: 10%;
    padding: 12px;
    margin: 5px;
    display: inline-block;
    box-sizing: border-box;
    background-color: rgb(29, 2, 2);
    color: white;
}
footer {
    background-color:rgb(27, 19, 19);
    color: white;
    padding: 20px 40px 300px 40px;
}
.logo {
    float: left;
    margin-top: -5px;
}
.unai {
    float: right;
    padding-right: 5px;
    padding-left: 300px;
}
.ci a {
    float: right;
    color: rgb(173, 169, 169);
}
